@{
    Layout = "_Layout_NoStyles";
    ViewData["Title"] = "Home Page";
}

<div>
    This is a div
    <div> This is a div inside a div</div>
    <div>
        this is a div inside a div
        <p>this is a paragraph inside a div</p>
    </div>
</div>

<div>
    <p>This is a paragraph</p>
</div>

<div>
    <hr />
    <footer>
        <p>&copy; 2016 - CssPlayground.Web</p>
    </footer>
</div>